
.vs/Win98IconLib/v16/.suo
.vs/Win98IconLib/v16/Browse.VC.db
.vs/Win98IconLib/v16/Browse.VC.db-shm
.vs/Win98IconLib/v16/Browse.VC.db-wal
.vs/Win98IconLib/v16/Browse.VC.opendb
Release/Win98IconLib.dll
Release/Win98IconLib.pdb
Win98IconLib/Release/Win98IconLib.tlog/link.read.1.tlog
Win98IconLib/Win98IconLib.aps
Release/Win98IconLib.dll
Release/Win98IconLib.pdb
Win98IconLib/Release/Win98IconLib.tlog/link.read.1.tlog
Win98IconLib/Win98IconLib.aps
.vs/Win98IconLib/v16/Browse.VC.db
.vs/Win98IconLib/v16/.suo
